
<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h3>사용자등록</h3>
		<div class="main-agileinfo">
			<div class="agileits-top">
				
                
                <form action="signup_/" method="POST" >{% csrf_token %}
					<input class="text" type="text" name="Username" placeholder="Username" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
					
					<input type="submit" value="SIGNUP">
				</form>
                
			</div>
		</div>
		
	</div>
	<!-- //main -->
</body>
</html>