<html>
    <head>
        
        
    </head>
    
    <body>
        
        <h1> 책찾기1 </h1>
         {% for book in documents %}
            <h1>
             title: {{book.title}}<br>  
             contents: {{book.contents}}<br> 
            url:{{book.url}}<br> 
            {{book.isbn}}<br> 
            {{book.datetime}}<br> 
            {{book.authors}}<br> 
            {{book.publisher}}<br> 
            {{book.translators}}<br> 
            {{book.price}}<br> 
            {{book.sale_price}}<br> 
            {{book.thumbnail}}<br> 
            {{book.status}}<br> 
                
              
                
                 <input type="text">
        <input type="button">
        </h1>
        {% endfor %}
        
        
       
       
        
        
    </body>
</html>
    